<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

@model IEnumerable<PROYECTO_FINAL.Models.Usuario>

@{
    ViewData["Title"] = "REGISTROS";
}

<h1>REGISTROS</h1>


<div class="btn-toolbar">
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear nuevo usuario</a>
    </p>
</div>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clave)
                </th>
                <th style="width: 20px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clave)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Más detalles</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                    <td style="width: 20px;"></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Confirmación para eliminar el usuario</h3>
    </div>
    <div class="modal-body">
        <p class="error-text">¿Está seguro de que desea eliminar este usuario?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">ELIMINAR</button>
    </div>
</div>